@import "reset";
@import "vars";

html{
  box-sizing: border-box;
 }
   *, *::before, *::after{ 
   box-sizing: inherit;
 }
 body {
  height: 100%;
  @extend %body_font;
  color:white;
  background:#F9F7F4;
 }
 a{
   text-decoration: none;
   color: inherit;
 }
 img{
   max-width: 100%;
   height: auto;
 }
 .container{
   max-width: 1200px; /* с учетом отступов безопасности */
   margin: 0 auto;
   padding: 0 15px;
 }
 .title{
   margin-bottom: 30px;
   text-align: center;
   font-weight: 700;
   font-size:  59px;
   color: black;
   line-height: 124%; 
 }
 .subtitle{
   max-width: 410px;
   text-align: center;
   text-align: center;
   color: #A6A6A6;
 }
 .title-box{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center; 
   justify-content: center;
   margin-bottom: 100px;
 }
 .btn-detailed{
   display:flex;
   flex-wrap: wrap;
   max-width: 199px;
   padding: 7px 59px 7px 20px;
   border-radius: 50px;
   background: url(../images/arrow_bt.svg) no-repeat  90% 50%; 
   font-size: 23px;
   font-weight: 700;
   outline: none;
   transition: background-color 300ms ease-in-out;    
   
  &:visited, 
  &:focus{
    outline: none;
  } 
  &:hover{ 
    @extend %btn-detailed--hover; 
  } 
  &:active{ 
    background-color: #EFA501;
    outline: none;
  } 
 } 

/*_____________header begin______________*/
.header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, transform 300ms ease-in-out; 
  &__inner{
    display:flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: center;
    height: 88px;
  }   
  &__phone-number, 
  &__menu-link{
    position: relative;
    padding: 0 0 0.3em 0; 
  }
  &__phone-number:hover, 
  &__menu-link:hover {
    color: inherit;
  }
  &__phone-number::before, 
  &__menu-link::before{
    @extend %link--hover--focus;
    height: 1px;
    background: white;
  }
  &__phone-number:hover::before, 
  &__menu-link:hover::before {
    opacity: 1;
    transform: scaleX(1);
  }
  &__phone-number:focus, 
  &__menu-link:focus{
    outline: none;
  }  
}
/* popup title begin */
.header__active {
  z-index: 10;
  overflow: hidden;
  background: rgba(243, 239, 232, 0.6);  
  /* backdrop-filter: blur(54px); */
  color: #1B1F2B;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, transform 300ms ease-in-out; 
  
  & path{
    width: 100%;
    fill: #1B1F2B;
    transition: fill 300ms ease-in-out;
  }
  &::before {
    content: "";
    background: inherit; 
    box-shadow: inset 0 0 2000px rgba(243, 239, 232, 0.6);
    filter: blur(54px);
  } 
  &-phone-number::before, 
  &-menu-link::before{
    @extend %link--hover--focus;
    height: 1px;
    background: black;
  } 
}
/* popup title end */
.header__menu{
  &-list {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  }
  &-item{ 
    margin-right: 50px;
    &:last-child{ 
      margin-right: 0;
    } 
  }  
}
/*_______________header end_______________*/

/*_____________intro begin______________*/
.intro {
  height: 100vh;
  background: $intro-gradient, url(../images/header-img.jpg) no-repeat center;
  background-size: cover;
  &__title-box{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; 
    justify-content: center;
    width: 100%;
    padding: calc((100vh - 503px - 88px)/2 + 88px) 0 calc((100vh - 503px - 88px)/2) 0;
  }  
  &__title{   
    max-width: 768px;
    margin-bottom: 52px;
    text-align: center; 
    letter-spacing: 2px; 
    font-weight: 700;
    font-size:  96px; 
    line-height: 109%;
  }
  &__descr{
    max-width: 562px;
    margin-bottom: 51px;
    text-align: center;
  }
}
.intro__arrow{
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 17px;
  color: black;
  background-color: #FFFFFF;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  &:hover{
    background-color: #EFA501;
    color: #FFFFFF;
  }
  &:active{
    background-color: #F8E6BE;
  }   
} 
/*_______________intro end_______________*/


/*_____________direction begin______________*/
.direction{
  padding: 135px 0 133px 0;
}
.direction__title{
  margin-bottom: 35px;
}
.direction__menu-list {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  font-weight: 700;
  font-size:  23px;
  color: black; 
}
.direction__menu-item { 
  margin-right: 30px;
  &:last-child { 
    margin-right: 0;
  }
}
.direction__menu-link{
  position: relative;
  padding: 0 0 0.3em 0;
  &:hover {
    color: inherit;
  }
  &::before{
    @extend %link--hover--focus;
    height: 2px;
    background: black;
  }
  &:hover::before {
    opacity: 1;
    transform: scaleX(1);
  }
  &:focus{
    outline: none;
  }
  &:active{
    color: Orange;
  }
  &:active::before{
    opacity: 1;
    background: Orange; 
    transform: scaleX(1);
  }  
  &-active{
    position: relative;
    padding: 0 0 0.3em 0;
    color: Orange;
  }  
    &-active:hover {
      color: Orange;
    }
    &-active::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;      
      opacity: 1;      
      background: Orange;
      transform: none;      
    }
    &-active:hover::before {
      opacity: 1;
      transform: none;
    }
    &-active:focus{
      outline: none;
    }
    &-active:active{
      color: Orange;
    }
    &-active:active::before{
      opacity: 1;
      background: Orange; 
      transform: none;
    }  
}
.direction__item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, 531px);
  gap: 30px;
  &-size{
    position: relative;
    width: 100%; 
    border-radius: 50px;  
    overflow: hidden;     
  }
  &-size:hover &-photo{
    transform: scale(1.2); 
  }
  &-size:hover .btn-detailed{
    @extend %btn-detailed--hover; 
  }   
  &-size::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: $direction-gradient;
  }
  &-photo{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transition: transform 300ms ease-in-out; 
  }
  &-inner{
    position: absolute; 
    top: 0;
    left: 0; 
    z-index: 3; 
    display:flex; 
    flex-direction: column;
    justify-content:space-between;
    width: 100%; 
    height: 100%; 
  }
  &-info{
    max-width: 270px;
    padding: 50px;
  }
  &-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 120%;
  }
  &-price{
    margin-top: 16px;
    font-size: 17px;
  }
}
.direction__btn-detailed{
  padding:  43px 30px;
}
/*_______________direction end_______________*/


/*_____________booking begin______________*/
.booking__title{
  margin-bottom: 30px;
}
.booking__subtitle{
  max-width: 400px;
}
.booking_box{
  display: block;
  border-radius: 50px;
  background-color: white;
  &-inner{
    display: grid;
    grid-template-columns: repeat(2,minmax(calc(50% - 140px - 30px), 500px));   
    grid-column-gap: 30px;
    grid-row-gap: 33px;
    padding: 70px;     
  }
}
.form__group{
  display: block;
  width: 100%; 
  color: #1B1F2B;
}
.booking__element{
  display: block;
  width: 100%;
  height: 68px;
  padding: 20px; 
  margin: 8px 0 0 0;
  border: 1px solid  #F4F0E9;
  border-radius: 10px;
  background-color:#F9F7F4;
  &:hover{
    cursor: pointer;
  }
  &::placeholder{
    color: #A6A6A6;
    font-size: 20px;
  }
  &-date{
    display: block;
    @extend %body_font;
    text-transform: uppercase;
    letter-spacing: 1px; 
  }  
  &-select{
    appearance: none;
    overflow: hidden;  
    background: url(../images/ic-dropdown.svg) no-repeat 96% 50%; 
    background-color:#F9F7F4;
    color: #A6A6A6;
    //color: rgba(0, 0, 0, 0.2);
  }
  &-option{
    color: #1B1F2B;
  }
  &-tel{
    color: #A6A6A6;
  }
}
.booking__area{
  width: 100%;
  height: 152px;
  padding: 20px; 
  margin: 8px 0 0 0;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  resize: none;
  background: #F9F7F4;
  @extend %body_font;
  &-group{
   grid-column: span 2;
   width: 100%;
   color: #1B1F2B;
  }
}
.booking__label-age{
  grid-column: span 2;
  color: #1B1F2B; 
}
.booking__box-age{
  display: flex;
  margin-top: 8px; 
}
.booking__checkbox-text{
  word-spacing: 0.2px;
}
.booking__radio{
  position: absolute; 
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  &-label{
    display: flex;
    margin-right: 31px;
  }
  &-style{
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 11px;
    border-radius: 50%;
    border: 2px solid #1B1F2B;
  }
  &:checked + &-style::before{
    content:"";
    position: absolute;
    top:50%;
    left: 50%;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #1B1F2B; 
    transform: translate(-50%, -50%);
  }
}
.booking__label-agree{
  display: flex;
  grid-column: span 2;
  width: 100%;  
  margin-bottom: -8px;
  color: #1B1F2B; 
  font-size:  17px;
  line-height: 142%;
}
.booking__checkbox{
  position: absolute; 
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); 
  &-style{
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    border: 2px solid #1B1F2B;   
  }
  &:checked + &-style::before{
    content:"";
    position: absolute;
    top:50%;
    left: 50%;
    display: block;
    width: 14px;
    height: 14px;
    background-color:white; 
    transform: translate(-50%, -50%); 
  }
  &:checked + &-style::after{
    content:"";
    position: absolute;
    top:50%;
    left: 50%;
    display: block;
    width: 14px;
    height: 14px;
    background: url(../images/rectangle-36-stroke.svg) no-repeat;
    background-size: 14px 14px;  
    transform: translate(-50%, -50%);
  }
  &-text{
    margin-left: 10px;
    letter-spacing: -0.01em;
  }
  &-agree{
    color: #A6A6A6; 
  }
  &-agreement{
    position: relative;
    padding: 0 0 0.1em 0;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out, transform 300ms ease-in-out;
  
    &:hover {
      color: inherit;
      cursor: pointer;
    }
    &::before{
      @extend %link--hover--focus;
      height: 1px;
      background: black;
    }
    &:hover::before{
      opacity: 1;
      transform: scaleX(1);     
    }
    &:focus{
      outline: none;
    } 
    &:active{
      color: #286562;
    }
    &:active::before{
      background: #286562;
    }
}
 }
.booking__btn{
  display: flex;
  flex-wrap: nowrap;
}
.booking__btn-search{
  margin-right: 30px;
  max-width: 235px;
  width: 100%;
  height: 58px;
  border-radius: 10px;
  border: none;
  background-color: #286562;
  color: #FFFFFF;
  transition: background-color 300ms ease-in-out;
  &:hover{ 
    background-color: #3B7E7B;
    cursor: pointer;
  } 
  &:active{ 
    background-color: #627F7E;
  }
}
.booking__btn-reset{
  max-width: 235px;
  width: 100%;
  height: 58px;
  border-radius: 10px;
  border: none;
  background-color: #E0F0E5;
  transition: background-color 300ms ease-in-out;
  &:hover{ 
    background-color: #F1F3F2;
    cursor: pointer;
  } 
  &:active{ 
    background-color: #D9DFDB;
  }
}  
/*_______________booking end_______________*/

/* ______________reviews start_______________*/
.reviews{
  padding: 135px 0;
  color: #1B1F2B;
}
.reviews__title{
  margin-bottom: 30px;
  max-width: 529px;
}
.reviews__box-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.reviews__tour{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  min-height: 673px;
  border-radius: 50px;
  background-color:#F4F0E9;;
}
.reviews__author{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-name{
    margin-bottom: 4px;
    font-size: 35px;
    line-height: 122%;
  } 
  &-tour{
    font-size: 17px;
    color: #A6A6A6;
  }
  &-photo-box{  
    width: 75px;
    height: 75px;
    border-radius: 50px;
    overflow: hidden; 
   }
   &-photo-img{
     width: 100%; 
     height: 100%; 
     object-fit: cover;
   }
}
.reviews__text{
  font-size: 23px;
  font-weight: 700;
}
.reviews__text-part1{
  margin-bottom: 25px;
}
/* ______________reviews end_______________*/

/*______________gallery start_______________*/
.gallery{
  &__container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 30px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(auto, 301px);
    gap: 30px;
  }
  &__img-box{
    border-radius: 50px;
    overflow: hidden;   
  }
  &__img-box:nth-child(1), 
  &__img-box:nth-child(2), 
  &__img-box:nth-child(3), 
  &__img-box:nth-child(4), 
  &__img-box:nth-child(10), 
  &__img-box:nth-child(11), 
  &__img-box:nth-child(12), 
  &__img-box:nth-child(13){
    grid-column: span 5;
  }
  &__img-box:nth-child(5), 
  &__img-box:nth-child(6), 
  &__img-box:nth-child(7), 
  &__img-box:nth-child(8), 
  &__img-box:nth-child(9){
    grid-column: span 4;
  }
  &__img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
}
/* ______________gallery end_______________*/

/*______________story start_______________*/
.story{
  padding: 132px 0 135px 0; 
}
.story__title{
  margin-bottom: 30px;
}
.story__item{
  display:grid;  
	grid-auto-rows: minmax(auto, 567px);
  gap: 50px;
 &-size{
  position: relative;
  width: 100%; 
  border-radius: 50px;  
  overflow: hidden;   
 } 
 &-size::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;  
  display: block;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  background: $story-gradient;
  transition: transform 700ms ease;
 }
 &-photo-1-3{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  transition: transform 300ms ease; 
  transform: matrix(-1, 0, 0, 1, 0, 0); 
 }
 &-size:hover &-photo-1-3{
  transform: scale(1.2) matrix(-1, 0, 0, 1, 0, 0); 
 }
 &-size:hover::after{
  background: $story-gradient--hover;
 }
 &-size:hover .btn-detailed{
  @extend %btn-detailed--hover; 
 }
 &-photo-2{
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  transition: transform 300ms ease ;  
 }
 &-size:hover &-photo-2{
  transform: scale(1.2); 
 }
 &-inner{
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 3;
  display:flex; 
  flex-direction: column;
  justify-content:space-between;
  height: 100%; 
  width: 100%;   
 }
  &-info{
    padding: 60px;
    max-width: 674px; /* 554+60+60 */
  }
  &-title{
    margin-bottom: 37px;
    font-size: 35px;
    line-height: 122%;
  }
  &-text{
    padding-bottom: 20px;
  }
}
.story__item-list {
  list-style: disc;
  list-style-position: inside;
}
.story__detailed{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-btn{
    padding:  53px 40px;
  }
}
.story__detailed-menu{
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  &-item{
    margin-right: 35px;
    &:last-child{
      margin-right: 0;
    }
  }
  &-link{
    position: relative;
    padding: 0 0 0.1em 0;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out, transform 300ms ease-in-out; 
  }
  &-link::before{
    @extend %link--hover--focus;
    height: 1px;
    background: #FFFFFF;
  }
  &-link:hover::before {
    opacity: 1;    
    transform: scaleX(1);  
  }
  &-link:focus{
    outline: none;
  } 
  &-link:active{
    color: rgba(239, 165, 1, 1);

  }
  &-link:active::before{
    background-color: rgba(239, 165, 1, 1);
  } 
}
/*______________story end_______________*/

/*______________mail start_______________*/
.mail__box{
  display: grid;
  gap: 30px;
	grid-template-columns: repeat(2, minmax(370px, 370px)) ;
  justify-content: center;
  margin-bottom: 135px;  
  &-adress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.mail__img{
  width: 100%; 
  height: 100%; 
  object-fit: cover;

  &-box{
    border-radius: 50px;
    overflow: hidden;   
  }
}
.mail__title{
  margin-bottom: 20px;
  text-align: left;
  font-size: 35px;
  line-height: 122%;
  color: #1B1F2B;
}
.mail__text{
  color: #A6A6A6;
}
.mail__mail-adress{
  position: relative;
  padding: 0 0 0.1em 0;
  color: #1B1F2B;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out, transform 300ms ease-in-out;
  &::before{
    @extend %link--hover--focus;
    height: 1px;
    background: black;
  }
  &:hover::before {
    opacity: 1; 
    transform: scaleX(1);     
  }
  &:focus{
    outline: none;
  }  
  &:active{
    color: #286562;
  }
  &:active::before{
    background: #286562;
  }
}
/*______________mail end_______________*/

/*______________footer start_______________*/
.footer{
  padding: 30px 0;
  background: #F4F0E9;
}
.footer__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; 
  flex-wrap: wrap; 
}
.footer__title{
  color: #A6A6A6;
} 
.footer__menu{
  &-inner{
    display: flex;
    align-items: center;
    align-content: center; 
    flex-wrap: wrap;
    color: #1B1F2B;
  }
  &-item{
    margin-right: 25px;
    &:last-child{
      margin-right: 0;
    }
  } 
  &-item:active path{
    width: 100%;
    fill: rgba(239, 165, 1, 1); 
    transition: fill 300ms ease-in-out;
  }
  &-link{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-link:focus{
    outline: none;
  } 
  &-text{
    position: relative;
    padding: 0 0 0.1em 0;
    margin-left: 10px;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out, transform 300ms ease-in-out; 
  }
  &-text::before{
    @extend %link--hover--focus;
    height: 1px; 
    background: black;
  }
  &-text:hover::before {
    opacity: 1;  
    transform: scaleX(1);  
  }
  &-text:active{
    color: rgba(239, 165, 1, 1); 
  }
  &-text:active::before{
    background:  rgba(239, 165, 1, 1); 
  } 
}
/*______________footer end_______________*/


@import "media";